.a {
  text-decoration: none;
  color: #dc3545;
}

a:hover {
  color: #181818;
}

.ServiceCard:hover {
  box-shadow: 10px 10px 15px #c5c5c5, -10px -10px 15px #ffffff;
}

.ServiceCard {
  width: 190px;
  height: 254px;
  border-radius: 30px;
}

.card {
  width: 359px;
  height: 217px;
  border-radius: 3px;
  position: relative;
  padding: 1.8rem;
  /* border: 2px solid #c3c6ce; */
  transition: 0.5s ease-out;
  overflow: visible;
  background-color: #181818;
  opacity: 0.9;
  /* margin: 10px; */
  padding: 0px;
  /* opacity: 0.8; */
}
.titledetail {
  font-size: 0.8em;
  font-weight: 100;
  text-align: center;
  color: aliceblue;
}
.card-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.card-button {
  --color: #d9e2e3;
  --color2: #377079;
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);
}

.card-button::after,
.card-button::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}

.card-button::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.card-button:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.card-button:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.card-button:hover {
  color: var(--color2);
}

.card-button:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
}

/*Hover*/
.card:hover {
  border-color: #377079;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.card-body {
  padding: 0px;
  margin: 0px;
  color: #ffffff;
  margin-top: 0px;
}

.d-grid {
  /* padding: 9px; */
  margin: 0px;
  font-family: "Roboto";
  font-weight: 100;
  /* height: 150px; */
  /* display: flex; */
  /* display: block; */
}

.button10 {
  position: relative;
  font-weight: 600;
  height: 40px;
  padding: 12px 20px;
  outline: none;
  border: 1px solid rgb(235, 235, 235);
  background-color: transparent;
  border-radius: 5px;
  color: #173a45;
}

.button10:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 7px;
  left: 7px;
  height: 100%;
  background-color: #57aab7;
  z-index: -1;
  transition: all 0.35s;
  border-radius: inherit;
}

.button10:hover:after {
  top: 0px;
  left: 0px;
}

.btnContratar {
  padding: 0.2em 0.75em;
  background-color: #ffffff;
  border-radius: 3px;
  transition: 0.5s;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: #181818;
  margin-top: 10px;
  border-radius: 20px;
  letter-spacing: -0.05em;
}

.btnContratar::after,
.btnContratar::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: grey;
  color: white;
}

.btnContratar::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btnContratar:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btnContratar:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btnContratar:hover {
  color: white;
}

.btnContratar:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

.btnContratar-eliminar {
  --color: #b80c0c;
  --color2: rgb(102, 135, 146);
  padding: 0.2em 0.75em;
  background-color: var(--bs-white);
  border-radius: 3px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 18px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);
  margin-top: 10px;
  letter-spacing: -0.05em;
}

.btnContratar-eliminar::after,
.btnContratar-eliminar::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}

.btnContratar-eliminar::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btnContratar-elimnar:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btnContratar-eliminar:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btnContratar-eliminar:hover {
  color: var(--color2);
}

.btnContratar-eliminar:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}

.container-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  /* height: 150px; */
  width: 100%;
  font-size: 42px;
  letter-spacing: -0.05em;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.9;
  word-break: break-word;
  margin: 0px;
  padding-bottom: 10px;
  mix-blend-mode: soft-light;
  font-weight: 100;
}
.container-name p {
  font-size: 12px;
}

.card-timeshare-list {
  position: relative;
  display: block;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 3px;
  text-decoration: none;
  margin-bottom: 10px;
}

.container-body-card {
  width: 100%;
  height: 100%;
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 120%;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: 1;
  transition: transform 0.5s ease-out;
  object-fit: cover;
}

/* Parallax efecto con hover */
.card-timeshare-list:hover .background-image {
  transform: scale(1.1) translateY(-10px);
}
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.5); /* 👈 color y opacidad ajustables */
  z-index: 1.5; /* entre la imagen (1) y el contenido (2) */
  pointer-events: none; /* permite clics pasar a través */
}

.overlay-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  color: white;
}
.container-title-card {
  width: 70%;
}

.container-title-card h3 {
  font-weight: bolder;
  letter-spacing: -0.09em;
  line-height: 25px;
  font-size: 32px;
  text-transform: uppercase;
  color: black;
  mix-blend-mode: hard-light;
}

.container-valoration-calendar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.container-title-card h3 {
  font-weight: bolder;
  font-size: 32px;
  text-transform: uppercase;
  mix-blend-mode: screen;
  color: #e1e1e1;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.container-valoration-card {
  filter: grayscale();
}
