.a {
    text-decoration: none;
    color: #dc3545
}

a:hover {
    color: #377079;
}





.ServiceCard:hover {
    box-shadow: 10px 10px 15px #c5c5c5,
        -10px -10px 15px #ffffff;
}

.ServiceCard {
    width: 190px;
    height: 254px;
    border-radius: 30px;


}

.card {
    width: 240px;
    height: 191px;
    border-radius: 20px;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    background-color: #377079;
    opacity: 0.9;
    margin: 10px;
}

.card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}



.card-button {
    --color: #d9e2e3;
    --color2: #377079;
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
}

.card-button::after,
.card-button::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}

.card-button::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.card-button:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.card-button:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.card-button:hover {
    color: var(--color2);
}

.card-button:active {
    filter: brightness(.7);
    transform: scale(.98);
}









.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border: none;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.text-body {
    color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
    font-size: 1.5em;
    font-weight: bold;
}

/*Hover*/
.card:hover {
    border-color: #377079;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

.card-body {
    padding: 0px;
    margin: 0px;
    color: #fcfcfc;
    margin-top: 0px;
}

.d-grid {
    padding: 0px;
    margin: 0px;
}