.avatar {
    max-width: 50%;
    object-fit: cover;
    border-radius: 100%;
    margin-top: 50px;
    border-color: black;
    border-style: solid;
}

.userName {
    margin-top: 50px;
    text-transform: uppercase;
    text-decoration: underline;
}