.container4 {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  max-width: 120px;
  border-radius: 8%;
  min-width: 120px;
  object-fit: cover;
  min-height: 120px;
  max-height: 120px;
}
.container_hour {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container_hour span {
  font-weight: 100;
  font-size: 80px;
  letter-spacing: -0.05em;
  /* margin-bottom: 20px; */
  line-height: 70px;
}

.scene {
  width: 10em;
  justify-content: center;
  align-items: center;
}

.container-profile-info {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: flex-end;
  margin-bottom: 60px;
  gap: 10px;
}

.form-control {
  border: 1px solid var(--bs-black);
}
.container_name {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.container_name p {
  text-align: start;
  text-transform: capitalize;
  font-weight: bolder;
  letter-spacing: -0.05em;
  font-size: 26px;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 8px;
  color: rgb(0, 0, 0);
  opacity: 1;
}
.parent_ProfilePage {
  display: grid;
  grid-auto-columns: min-content;
}

.div2-container-button-create-service {
  grid-column: span 2 / span 2;
  grid-column-start: 7;
}

.div3 {
  grid-column: span 8 / span 8;
  grid-row-start: 2;
  height: fit-content;
  background-color: #181818;
}

.div3_container_title_footer_detail {
  grid-column: 1 / -1;
  grid-row-start: 3;
  color: white;
}
.title_intermediate_offer {
  font-size: 2vw;
  width: 100%;
  text-align: start;
  /* margin: 0; */
  /* padding: 0; */
  line-height: 0.9;
  /* padding-bottom: 14px; */
  /* letter-spacing: 2px; */
  font-weight: bolder;
  opacity: 1;
  background-color: #181818;
  margin: 0px;
}
.title_section-profile {
  font-weight: 100;
  letter-spacing: -0.05em;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}
.title_section-profile-subtext {
  font-weight: 100;
  letter-spacing: -0.05em;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  color: #ffff00;
  display: block;
  line-height: 0px;
}

.div4_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-button-noservice {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  justify-content: flex-start;
  padding-top: 20px;
  padding-right: 10px;
}

.card_profile-tusservicios {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  height: 50px;
}
.card_profile_container_name {
  display: flex;
  justify-content: flex-start;
}
.card_profile-body-tusservicios {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.card_profile-body-solicitudes {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
  margin-top: -10px;
}

.div4 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-row-start: 3;
}

.card_profile_container_name span {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: -0.05rem;
}

.div5 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 3;
  background-color: #181818;
}

.div6 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 6;
  grid-row-start: 3;
}

.div7 {
  grid-column: span 8 / span 8;
  grid-row-start: 5;
  background-color: #181818;
}

.div8 {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  grid-row-start: 6;
  border-right: 1px solid #181818;
  border-bottom: 1px solid black;
}

.div9 {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 6;
  border-bottom: 1px solid black;
}

.container_button-create_profile {
  /* height: 100px; */
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
.button-profile-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.parent_ProfilePage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.div4,
.div5,
.div6,
.div8,
.div9 {
  scroll-behavior: smooth;
}
.div4,
.div5,
.div6,
.div8,
.div9 {
  height: 400px;
  overflow: hidden;
  padding-bottom: 60px; /* Altura fija */
}

@media screen and (max-width: 1024px) {
  .div1,
  .div2-container-button-create-service,
  .div3,
  .div4,
  .div5,
  .div6,
  .div7,
  .div8,
  .div9 {
    grid-column: 1 / -1; /* Full width */
    grid-row: auto;
  }

  .div3,
  .div4,
  .div5,
  .div6,
  .div7,
  .div8,
  .div9 {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .container_button-create_profile {
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .title_intermediate_offer {
    font-size: 30px;
    text-align: center;
  }
  .div4 .title_section-profile,
  .div7 .title_section-profile {
    margin-top: 20px; /* O el valor que necesites */
  }
  .div4 .title_section-profile,
  .div7 .title_section-profile {
    margin-top: 30px; /* O el valor que necesites */
  }
  .container-profile-info {
    margin-bottom: 0px;
  }
  .button-profile-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .div4 .card_profile-tusservicios {
    margin-top: 20px;
  }
  .card_profile-body-solicitudes {
    margin-top: -30px;
  }
  .div5 .card_profile-tusservicios {
    margin-top: 30px;
  }
  .container-profile-info {
    justify-content: space-between;
  }
  .div4_container {
    margin-top: 10px;
  }
}
