.detailPhoto {
  max-height: 512px;
  max-width: 763px;
  min-height: 389px;
  object-fit: cover;
  opacity: 0.3;
  overflow: hidden;
}

.nameDetail {
  border-bottom: 3px solid #609f80;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.card_detail-services p::first-letter {
  text-transform: capitalize;
}

.card-img-top {
  max-width: 370px;
  max-height: 129px;
  object-fit: cover;
  filter: contrast(0.7);
}

.btn-dark {
  background-color: #4b574d;
}

.nameServMod {
  display: inline;
  border-bottom: 1px solid #000000;
  text-transform: uppercase;
  margin: 20px;
  width: 100%;
}
.modal-content {
  border-radius: 5px;
  padding: 20px;
}

.mailToOwner {
  text-decoration: none;
  color: #24596a;
  box-shadow: inset 0 0 0 0 #24596a;
  color: #24596a;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.mailToOwner:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #609c7d;
}

.container6 {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.flip-card {
  background-color: transparent;
  width: 633px;
  height: 353px;
  perspective: 1000px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 20px;
}

.title3 {
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  margin: 20px;
  color: aliceblue;
}

.cardName {
  color: white;
  /* padding-left: 8px; */
  /* text-align: center; */
  /* padding-top: 10px; */
  font-size: 50px;
  line-height: 10px;
  color: #ffffff;
  letter-spacing: -0.05em;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  text-overflow: ellipsis;
  line-height: 0.9;
  word-break: break-word;
  margin: 0px;
  mix-blend-mode: soft-light;
  font-weight: 100 !important;
  font-size: 60px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
}
.container-img-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.85)
  );
}

.flip-card-front {
  background-color: #181818;
}
.mail {
  margin: 0px;
}

.containercontacto {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 10px;
  gap: 20px;
}
.contratar-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.img-detail-card {
  margin: 0px;
}
.image1-wrapper {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.image1-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  pointer-events: none;

  /* RALLAJOS (rayas diagonales) */
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 2px,
    transparent 2px,
    transparent 6px
  );
  z-index: 2;
}

/* IMAGEN DENTRO DEL CONTENEDOR */
.image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 50%;
  border-top: 1px solid rgb(151, 34, 34);
  border-bottom: 1px solid rgb(151, 34, 34);
  filter: blur(1px);
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 1) 50%
  );
}

.image2 {
  width: 100%;
  height: 30px;
  margin-top: 2px;
  object-fit: cover;
  object-position: bottom;
  filter: blur(2px) grayscale();
}
.image3 {
  width: 100%;
  height: 60px;
  object-fit: cover;
  object-position: top;
  margin-bottom: 6px;
  filter: blur(2px) grayscale();
}

.img-sup_card {
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
}
.image3_sup {
  position: absolute;
}

.flip-card-front2 {
  background-color: #173944;
  color: white;
  z-index: 1;
  background-color: transparent;
  width: 633px;
  height: 353px;
  /* perspective: 1000px; */
  font-family: sans-serif;
  /* display: flex; */
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 81px;
  align-content: flex-start;
}

.profileCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn4 {
  --color: var(--bs-black);
  --color2: var(--bs-white);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);
  /* margin: 15px; */
  width: 100%;
}

.btn4::after,
.btn4::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}

.btn4::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn4:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn4:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btn4:hover {
  color: var(--color2);
}

.btn4:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}
