.greeting:hover {
  color: white;
}

.greeting {
  color: white;
  text-align: justify;
}

.navBar {
  background-color: #181818;
  color: #ffffff;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}
.nav-link img {
  opacity: 0.8;
  filter: hue-rotate(180deg);
}

.navbar-brand {
  padding: 0px;
}

.nameNav {
  color: #ffffff;
  color: #ffffff;
  font-weight: 100;
  letter-spacing: -0.05em;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.9;
  word-break: break-word;
  margin: 0px;
  padding-bottom: 60px;
  mix-blend-mode: soft-light;
  font-weight: 100;
  font-size: 40px;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
}
.mt-1 {
  margin: 0px !important;
}
