.greeting:hover {
    color: white;
}

.greeting {
    color: white;
}

.navBar {
    background-color: #24596a;
    opacity: 0.7;
    color: white;
}

.nav-link {
    text-decoration: none;
    color: #ffebee;


}

.nameNav {
    color: #79b1c0;

}