.greeting:hover {
  color: white;
}

.greeting {
  color: white;
  text-align: justify;
}

.navBar {
  background-color: #181818;
  color: #ffffff;
}

.nav-link {
  font-weight: 100;
  letter-spacing: -0.05em;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
}
.nav-link img {
  opacity: 0.8;
  filter: hue-rotate(180deg);
}

.navbar-brand {
  padding: 0px;
}

.nameNav {
  color: #ffffff;
  color: #ffffff;
  font-weight: 100;
  letter-spacing: -0.05em;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.9;
  word-break: break-word;
  margin: 0px;
  mix-blend-mode: soft-light;
  font-weight: 100;
  font-size: 40px;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
}
.mt-1 {
  margin: 0px !important;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 0px;
}

/* Cambia el color del ícono del toggler */
.custom-toggler .navbar-toggler-icon {
  background-image: none;
  position: relative;
  width: 24px;
  height: 2px;
  background-color: #ececec; /* Cambia el color aquí */
  transition: all 0.3s;
}

.custom-toggler .navbar-toggler-icon::before,
.custom-toggler .navbar-toggler-icon::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #ffffff;
  transition: all 0.3s;
}

.custom-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.custom-toggler .navbar-toggler-icon::after {
  top: 8px;
}

/* Cuando está activo, forma una X */
.custom-toggler.collapsed .navbar-toggler-icon {
  background-color: transparent;
}

.custom-toggler.collapsed .navbar-toggler-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.custom-toggler.collapsed .navbar-toggler-icon::after {
  transform: rotate(-45deg);
  top: 0;
}
.navbar-toggler {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
