.btn-success {
  background-color: #4b574d;
}

.buttonCreate {
  background-color: #af420a;
}

.serviceDetail {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  position: relative;
  text-decoration-style: solid;
  text-decoration-color: rgb(17, 133, 65);
  text-decoration-line: underline;
}
.header_title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  padding-right: 20px;
}
.header_title h1 {
  font-weight: bolder;
  letter-spacing: -0.06em;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
  word-break: break-word;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 50px;
  /* mix-blend-mode: soft-light; */
  font-size: clamp(2rem, 8vw, 100px);

  text-transform: uppercase;
}

.modal-header {
  flex-direction: column !important;
}

.serviceDetail::after {
  position: absolute;
  content: ‘’;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(24, 178, 73, 0.674);
  max-width: 12ch;
  margin-inline: auto;
}
/* .btn2 {
  --color: var(--bs-black);
  --color2: var(--bs-white);
  padding: 0.8em 1em;
  background-color: var(--bs-white);
  border-radius: 6px;
  border: 0.3px solid var(--bs-black);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);
  margin: 15px;
  max-height: 50px;
} */

.title {
  margin: 20px;
}

.d-grid {
  margin: 20px;
}

.col-sm-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.button-edit {
  text-align: end;
}
