.HomePage {
    margin: 0%;
    padding: 0%;

}

.Hero {
    height: 400px;

}

.heroImage {
    height: 350px;
    object-fit: cover;
}

.col1 {
    background-color: rgb(7, 213, 224);
}

.col2 {
    background-color: green;
}

.col3 {
    background-color: red;
}